In [1]:
import statistics

In [2]:
data1 = [45,42,42,41,40]
data2 =[54,48,42,33,33]

In [3]:
statistics.mean(data1)

42

In [4]:
statistics.mean(data2)

42

In [7]:
print("("+str(min(data1))+","+ str(max(data1))+")")

(40,45)

In [8]:
print("("+str(min(data2))+","+ str(max(data2))+")")

(33,54)

In [9]:
statistics.variance(data1)

3.5

In [10]:
statistics.variance(data2)

85.5

In [11]:
statistics.pstdev(data1)

1.6733200530681511

In [12]:
statistics.pstdev(data2)

8.270429251254132

In [13]:
import seaborn as sns

In [14]:
import pandas as pd

In [16]:
df = sns.load_dataset("mpg")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [17]:
print("("+str(min(df["mpg"]))+","+ str(max(df["mpg"]))+")")

(9.0,46.6)

In [18]:
statistics.mean(df["mpg"])

23.514572864321607

In [19]:
statistics.variance(df["mpg"])

61.0896107742744

In [20]:
statistics.pstdev(df["mpg"])

7.806159061274432

In [21]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [22]:
cov1 = statistics.pstdev(data1)/statistics.mean(data1)*100

In [23]:
cov1

3.984095364447979

In [24]:
cov2 = statistics.pstdev(data2)/statistics.mean(data2)*100
cov2

19.691498217271743

In [25]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [26]:
cov3 = statistics.pstdev(df["mpg"])/statistics.mean(df["mpg"])*100
cov3

33.19711187745463

In [27]:
cov4 = statistics.pstdev(df["weight"])/statistics.mean(df["weight"])*100
cov4

28.47327708429478

In [28]:
df["mpg"].skew()

0.45706634399491913

In [31]:
df.skew

<bound method DataFrame.skew of       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]>

In [32]:
df["horsepower_new"] = df["horsepower"]**(1/2)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsepower_new
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,11.401754
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,12.845233
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,12.247449
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,12.247449
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,11.832160

In [33]:
df["horsepower_new"].skew()

0.7327195325530649

In [34]:
df["horsepower"].skew()

1.0873262824048695

In [36]:
df["mpg"].kurtosis()

-0.5107812652123154

In [42]:
data3 = [2,4,6,8,10]
statistics.pstdev(data3)

2.8284271247461903

In [ ]:
k